.vs/**
obj/**
bin/**
packages/*
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/ValheimLegends.csproj.CoreCompileInputs.cache
/obj/Debug/ValheimLegends.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/ValheimLegends.csproj.CoreCompileInputs.cache
/obj/Debug/ValheimLegends.csproj.FileListAbsolute.txt
/obj/Debug/ValheimLegends.dll
/bin/Debug/ValheimLegends.dll
/bin/Debug/ValheimLegends.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/ValheimLegends.csproj.CoreCompileInputs.cache
/obj/Debug/ValheimLegends.csprojAssemblyReference.cache
/obj/Debug/ValheimLegends.dll
/obj/Debug/ValheimLegends.pdb
