################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libs
/.vs
/bin/*
!/bin/Release/ValheimLegendsFork.dll
*.sln
/obj/Release
/obj/Debug
/ValheimLegends.csproj.user
/packages/Newtonsoft.Json.13.0.3
