################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libs
/.vs
/bin/*
!/bin/Release/ValheimLegendsFork.dll
*.sln
/obj/Release
